<h1> New Owner Application Form </h1>

<%= form_with url: "/owner_applications/new", method: :post, local: true do |f| %>

  <%= label_tag :name, 'Name' %>
  <%= text_field_tag :name %><br>
  <%= label_tag :street_address, 'Street Address' %>
  <%= text_field_tag :street_address %><br>
  <%= label_tag :city, 'City' %>
  <%= text_field_tag :city %><br>
  <%= label_tag :state, 'State' %>
  <%= text_field_tag :state %><br>

  <%= label_tag :zip_code, 'Zip Code' %>
  <%= text_field_tag :zip_code %><br>

  <%= submit_tag 'Submit Application' %>
<% end %>
